@(documentationForm:Form[models.CourseDocumentation],courses:List[models.Course])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{

        SharedFunctions.BreadCrumbs.generate("Attach Course Document",null);
    }

    @script={
        <script type="text/javascript">
        $(document).ready(function(){

            @if(documentationForm.hasGlobalErrors) {
                bootbox.alert('@documentationForm.globalError.message');

            }
        });

        </script>

    }


@main("Attach Course Document",breadCrumb,script){

    @helper.form(controllers.lecturer.routes.CourseMaterialController.save(), 'class -> "form-horizontal"  , 'enctype->"multipart/form-data", 'role->"form") {

        @inputText(
            documentationForm("title"),
            'placeholder ->"Title",
            '_label -> "Course",
            'class -> "form-control form-control-square",
            'required -> ""
        )
       
        @select(
            documentationForm("course.id"),
            options = courses.map(c => c.id.toString -> c.title),
            '_label -> "Course",
            'class -> "form-control form-control-square",
            'required -> ""
        )



        <h5>Material</h5>
        <input type="file" id="file" name="file" class = "form-control form-control-square"/>

        <br/>
        <input type="submit" class="btn btn-primary" />


    }


}