@(courseDocumentation:List[models.CourseDocumentation])

@import helper._
@import play.i18n._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        
        SharedFunctions.BreadCrumbs.generate("Course Documentation", null);
    }
    @scripts ={
            <script type="text/javascript">


            $('#courseDocumentation_table').dataTable({

            "bProcessing": true,
            "bServerSide": false,
            aaSorting : [[1, 'asc']],
            "bJQueryUI": true,
            "iDisplayStart ": 3,
            "oLanguage": {
                "sProcessing": "Please wait"
            },
            "fnInitComplete": function() {


            },

            "aoColumnDefs": [

            {
                "aTargets": [0],
                "bSearchable" : false,
                "bVisible" : false
            }
            ]
        });

    </script>
    }
@main("Course Documentation",breadCrumb,scripts){


        <a href="@controllers.lecturer.routes.CourseMaterialController.create()" class="btn btn-primary" ><i class="fa fa-plus-square"></i> Add New</a>

    <table id="courseDocumentation_table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Course</th>
                <th>Title</th>
                <th>Date</th>
                <th><i class="fa fa-cloud-download"></i></th>
            </tr>
        </thead>

        <tbody>

        @for(cD <- courseDocumentation ){
            <tr>
                <td>@cD.id</td>
                <td>@cD.course.title</td>
                <td>@cD.title</td>
                <td>@cD.dateAdded.format("yyyy-MM-dd")</td>
                <td><a href="@routes.DocumentLoaderController.file(cD.fileName)"><i class="fa fa-cloud-download"></i></a></td>
            </tr>
        }

        </tbody>

</table>




}
