@(notificationForm:Form[models.GeneralAnnouncement])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{

        SharedFunctions.BreadCrumbs.generate("Create Announcement",null);
    }

    @script={
        <script type="text/javascript">
        $(document).ready(function(){

            @if(notificationForm.hasGlobalErrors) {
                bootbox.alert('@notificationForm.globalError.message');

            }
        });

        </script>

    }


@main("Create Announcement",breadCrumb,script){

    @helper.form(controllers.admin.routes.AnnouncementController.save(), 'class -> "form-horizontal"  , 'role->"form") {


        @textarea(
            notificationForm("message"),
            '_label -> "Message",
            'class -> "form-control form-control-square",
            'required -> ""
        )

        <br/>
        <input type="submit" class="btn btn-primary" />


    }


}