@(notifications:List[models.GeneralAnnouncement])

@import helper._
@import play.i18n._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        
        SharedFunctions.BreadCrumbs.generate("Announcements", null);
    }
    @scripts ={
            <script type="text/javascript">


            $('#notifications_table').dataTable({

            "bProcessing": true,
            "bServerSide": false,
            aaSorting : [[1, 'asc']],
            "bJQueryUI": true,
            "iDisplayStart ": 3,
            "oLanguage": {
                "sProcessing": "Please wait"
            },
            "fnInitComplete": function() {


            },

            "aoColumnDefs": [

            {
                "aTargets": [0],
                "bSearchable" : false,
                "bVisible" : false
            }
            ]
        });

    </script>
    }
@main("General Announcements",breadCrumb,scripts){


        <a href="@controllers.admin.routes.AnnouncementController.create()" class="btn btn-primary" ><i class="fa fa-plus-square"></i> Add New</a>

    <table id="notifications_table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Message</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>

        @for(notification <- notifications ){
            <tr>
                <td>@notification.id</td>
                <td>@notification.message</td>
                <td>@notification.issueDate.format("yyyy-MM-dd")</td>
            </tr>
        }

        </tbody>

</table>




}
