@(lecturerForm: Form[models.Forms.LecturerForm])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap  = scala.collection.immutable.Map(
            "Setup"->routes.SetupController.index().toString(),
            "Lecturer"->controllers.admin.routes.LecturerController.index().toString()

        )
        SharedFunctions.BreadCrumbs.generate("Create",myMap);
    }


    @scripts ={
       <script type="text/javascript">
            $(document).ready(function(){
                @if(lecturerForm.hasGlobalErrors) {
                    bootbox.alert('@lecturerForm.globalError.message ');
                }
                $("#profile").Editor();

            });

                $(document ).submit(function(){
                $("#profile").val($("#profile").Editor("getText"));


                });

       </script>
    }

@main("Create Lecturer",breadCrumb,scripts){

    @helper.form(controllers.admin.routes.LecturerController.save(), 'class -> "form-horizontal"  , 'enctype->"multipart/form-data", 'role->"form") {
        @select(
            lecturerForm("salutation"),
        options = Seq("Bro"->"Bro","Pastor"->"Pastor","Dr"->"Dr","Sis."->"Sis."),
        '_label -> "Salutation",
        'class -> "form-control form-control-square"
        )


        @inputText(
            lecturerForm("additionalTitles"),
            '_label -> "Additional Titles",
            'class -> "form-control form-control-square"
        )

        @inputText(
            lecturerForm("firstName"),
            '_label -> "First Name",
            'class -> "form-control form-control-square"

        )

        @inputText(
            lecturerForm("middleName"),
            '_label -> "Middle Name",
            'class -> "form-control form-control-square"
        )

        @inputText(
            lecturerForm("lastName"),
            '_label -> "Last Name",
            'class -> "form-control form-control-square"
        )

        @inputText(
        lecturerForm("email"),
            '_label -> "Email",
            'class -> "form-control form-control-square",
            'type -> "email"
        )

        @textarea(
            lecturerForm("profile"),
            '_label -> "Profile",
            'class -> "form-control form-control-square"

        )


        <h5 for="password">Password</h5>
        <input type="password" name="password"  id="password" class="form-control form-control-square" required/>


        <h5 for="passport">Picture</h5>
        <input type="file" name="file" class="form-control form-control-square" required/>

        <br/><br/>
        <input type="submit" value="Create" class="btn btn-primary">



    }
}