@(lecturerForm: Form[models.Forms.LecturerForm])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap  = scala.collection.immutable.Map(
            "Setup"->routes.SetupController.index().toString(),
            "Lecturer"->controllers.admin.routes.LecturerController.index().toString()

        )
        SharedFunctions.BreadCrumbs.generate("Edit",myMap);
    }


    @scripts ={
       <script type="text/javascript">
            $(document).ready(function(){
                @if(lecturerForm.hasGlobalErrors) {
                    bootbox.alert('@lecturerForm.globalError.message ');
                }
                $("#profile").Editor();
                $("#profile").Editor("setText", "@Html(lecturerForm.get.profile)");


            });

                $(document ).submit(function(){
                $("#profile").val($("#profile").Editor("getText"));


                });

       </script>
    }

@main("Edit Lecturer",breadCrumb,scripts){

    @helper.form(controllers.admin.routes.LecturerController.update(), 'class -> "form-horizontal") {


        @inputText(
            lecturerForm("id"),
            '_label -> "id",
            'placeholder -> "id",
            'hideIt->true,
            'class -> "form-control form-control-square",
            'type->"hidden"

        )
        @select(
            lecturerForm("salutation"),
            options = Seq("Bro"->"Bro","Pastor"->"Pastor","Dr"->"Dr","Sis."->"Sis."),
            '_label -> "Salutation",
            'class -> "form-control form-control-square"
        )


        @inputText(
            lecturerForm("additionalTitles"),
            '_label -> "Additional Titles",
            'class -> "form-control form-control-square"
        )


        @inputText(
            lecturerForm("firstName"),
            '_label -> "First Name",
            'class -> "form-control form-control-square"

        )

        @inputText(
            lecturerForm("middleName"),
            '_label -> "Middle Name",
            'class -> "form-control form-control-square"
        )

        @inputText(
            lecturerForm("lastName"),
            '_label -> "Last Name",
            'class -> "form-control form-control-square"
        )

        @inputText(
        lecturerForm("email"),
            '_label -> "Email",
            'class -> "form-control form-control-square",
            'type -> "email"
        )

        @textarea(
            lecturerForm("profile"),
            '_label -> "Profile",
            'class -> "form-control form-control-square"

        )


        <br/><br/>
        <input type="submit" value="Update" class="btn btn-primary">



    }
}