@(lecturers:List[models.Lecturer])

@import helper._
@import play.i18n._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap = scala.collection.immutable.Map(
           "Setup" -> routes.SetupController.index().toString()
        )
        SharedFunctions.BreadCrumbs.generate("Lecturers", myMap);
    }
    @scripts ={
            <script type="text/javascript">


            $('#lecturers_table').dataTable({

            "bProcessing": true,
            "bServerSide": false,
            aaSorting : [[1, 'asc']],
            "bJQueryUI": true,
            "iDisplayStart ": 3,
            "oLanguage": {
                "sProcessing": "Please wait"
            },
            "fnInitComplete": function() {


            },

            "aoColumnDefs": [

            {
                "aTargets": [0],
                "bSearchable" : false,
                "bVisible" : false
            }
            ]
        });

    </script>
    }
@main("Lecturers",breadCrumb,scripts){


        <a href="@controllers.admin.routes.LecturerController.create()" class="btn btn-primary" ><i class="fa fa-plus-square"></i> Add New</a>

    <table id="lecturers_table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>

                <th>Username</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Suspended</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

        @for(lecturer <- lecturers ){
            <tr>
                <td>@lecturer.id</td>
                <td>@lecturer.user.username</td>
                <th>@lecturer.user.bioData.firstName</th>
                <td>@if(lecturer.user.bioData.middleName !=null){@lecturer.user.bioData.middleName}</td>
                <td>@lecturer.user.bioData.lastName</td>
                <td>@if(lecturer.user.isEnabled){
                    No
                }else{
                    Yes
                }</td>
                <td><a class ="btn btn-primary btn-act" href="@controllers.admin.routes.LecturerController.edit(lecturer.id)" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                    <a class ="btn btn-success btn-act" href="@routes.LecturerController.view(lecturer.id)" title="View"><i class="fa fa-eye"></i></a>
                    <a class ="btn btn-success btn-act" href="@controllers.admin.routes.LecturerController.enable(lecturer.id)" title="Enable"><i class="fa fa-check"></i></a>
                    <a class ="btn btn-danger btn-act" href="@controllers.admin.routes.LecturerController.disable(lecturer.id)" title="Disable"><i class="fa fa-ban"></i></a>
                </td>






            </tr>
        }
</tbody>

</table>




}
