@(lecturer:models.Lecturer)

@import helper._
@import play.i18n._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap = scala.collection.immutable.Map(
            "Lecturer" -> controllers.admin.routes.LecturerController.index().toString()
        )
        SharedFunctions.BreadCrumbs.generate(lecturer.user.bioData.displayName, myMap);
    }
    @scripts ={
        <script type="text/javascript">



        </script>
    }
@main(lecturer.user.bioData.displayName,breadCrumb,scripts){
    <div class="row">
        <div class="col-md-2">
            <img src="@routes.ImagerController.lecturer(lecturer.id+".jpg")" class="img-circle person_photo">
        </div>
        <div class="col-md-10">
            <span>@lecturer.user.bioData.displayName</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 text-justify">
            @Html(lecturer.profile)
        </div>
        <div class="col-md-4">


        </div>
    </div>



}
