@(notificationForm:Form[models.Notification],courses:List[models.Course])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{

        SharedFunctions.BreadCrumbs.generate("Create Notification",null);
    }

    @script={
        <script type="text/javascript">
        $(document).ready(function(){

            @if(notificationForm.hasGlobalErrors) {
                bootbox.alert('@notificationForm.globalError.message');

            }
        });

        </script>

    }


@main("Create Notification",breadCrumb,script){

    @helper.form(controllers.lecturer.routes.NotificationController.save(), 'class -> "form-horizontal"  , 'role->"form") {
        @select(
            notificationForm("course.id"),
            options = courses.map(c => c.id.toString -> c.title),
            '_label -> "Course",
            'class -> "form-control form-control-square",
            'required -> ""
        )

        @textarea(
            notificationForm("message"),
            '_label -> "Message",
            'class -> "form-control form-control-square",
            'required -> ""
        )

        <br/>
        <input type="submit" class="btn btn-primary" />


    }


}