@main("Dashboard"){

    <div class="row">
        <div class="col-lg-12 col-md-12">

            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@controllers.routes.UserController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-users fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Admins
                    </div>
                </a>


            </div>

            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@controllers.admin.routes.FeaturedCourseController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-star fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Featured Course
                    </div>
                </a>


            </div>




            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@controllers.admin.routes.PaymentController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-money fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Payments
                    </div>
                </a>


            </div>

            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@routes.StudentController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-graduation-cap fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Students
                    </div>
                </a>


            </div>

            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@controllers.admin.routes.LecturerController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-bookmark-o fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Lecturers
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@controllers.admin.routes.CourseController.index" class="no-decoration">


                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-book fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Courses
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@controllers.admin.routes.FacultyController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-university fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Faculties
                    </div>
                </a>


            </div>

            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@controllers.admin.routes.DepartmentController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-building-o fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Departments
                    </div>
                </a>


            </div>

            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@controllers.admin.routes.AuditController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x  fa-video-camera fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Audits
                    </div>
                </a>


            </div>


            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@controllers.admin.routes.AcademicPeriodController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x  fa-calendar fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Academic Period
                    </div>
                </a>


            </div>


            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@controllers.admin.routes.AnnouncementController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-bullhorn fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Announcements
                    </div>
                </a>


            </div>










        </div>
    </div>

}