
@main("Dashboard"){

    <div class="row">
        <div class="col-lg-12 col-md-12">




            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@controllers.lecturer.routes.NotificationController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-bullhorn fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Announcements
                    </div>
                </a>


            </div>


            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@controllers.lecturer.routes.CourseMaterialController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-file-pdf-o fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Course Materials
                    </div>
                </a>


            </div>


            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@controllers.lecturer.routes.ResultController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-newspaper-o fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Results
                    </div>
                </a>


            </div>




    </div>

    </div>

}