@(student:models.Student)

@main("Dashboard"){
    <div class="col-md-8">
    <div class="row">
        <div class="col-md-12 generic-separator">
            <h4>My Courses</h4>

            @for(course <- student.courses) {

                <div class="row my-courses">

                    <div class="col-md-12 course-inner">
                        <div class="col-md-2 pull-left">
                        <img src="@routes.ImagerController.course(course.title.replace(' ', '_')+".jpg")" style="">
                        </div>
                        <div class="col-md-10 pull-left" style="margin-left:-10px!important">
                            <h4><a href="@routes.CourseController.view(course.id)">@course.title.replace(" and ", " & ").toUpperCase()</a></h4>
                            <small><a href="@routes.DepartmentController.view(course.department.id)">@course.department.name</a> , <a href="@routes.FacultyController.view(course.department.faculty.id)">@course.department.faculty.name</a></small>
                            @*<a href="@routes.CourseController.view(course.id)" class="btn btn-success btn-sm">Continue</a>*@
                        </div>


                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 my-courses">
            <h4>Recently Viewed</h4>



            @for(c<-student.recentlyViewedCourses){
                <div class="col-md-4">

                    <img src="@routes.ImagerController.course(c.title.replace(' ', '_')+".jpg")" style="">
                    <p><a href="@routes.CourseController.view(c.id)">@c.title</a>
                    <br>
                        <small><a href="@routes.DepartmentController.view(c.department.id)">@c.department.name</a></small>
                    </p>

                </div>

            }
        </div>
    </div>

    </div>

    <div class="col-md-4">
        <h4><i class="fa-bullhorn"></i> Notifications </h4>



        @*
        @(student.courses.map(_.notifications).map(_.map(k=>Html("<li><b>"+k.initiator.bioData.displayName()+"</b><br/>"+k.message+"</li>"))))
        *@
            @student.courses.map(_.notifications).map(_.map(n=>Html("<div class='alert alert-info alert-square' ><button aria-hidden='true' data-dismiss='alert' class='close' type='button'>×</button><p class=''><b>Date:</b>"+n.issueDate.format("dd MMMM yyyy")+"<br/><b>Course:</b>"+n.course.title+"</b><br/><b>Message:</b>"+n.message+"<br/><b>Lecturer:</b>"+n.lecturer.user.bioData.displayName()+"</p></div>")))
            <a href="" class="btn btn-primary">View All</a>

    </div>

}