@(student:models.Student)

@main("Dashboard"){
    <div class="col-md-8">

        <div class="col-lg-2 col-md-2 settingTile">
            <a href="@routes.CourseController.myCourses()" class="no-decoration">


                <div class="inner  bg-primary-dark">
                    <em class="fa fa-3x fa-book fa-stack-3x fa-inverse text-white"></em>
                    <br>
                    My Courses
                </div>
            </a>
        </div>


        <div class="col-lg-2 col-md-2 settingTile">
            <a href="@routes.ResultController.index" class="no-decoration">


                <div class="inner  bg-primary-dark">
                    <em class="fa fa-3x fa-file-text fa-stack-3x fa-inverse text-white"></em>
                    <br>
                    My Results
                </div>
            </a>
        </div>


    </div>

    <div class="col-md-4">
        <h4><i class="fa-bullhorn"></i> Notifications </h4>


        @GeneralAnnouncement.find.all().map(n=>Html("<div class='alert alert-info alert-square' ><button aria-hidden='true' data-dismiss='alert' class='close' type='button'>×</button><p class=''><b>Date:</b>"+n.issueDate.format("dd MMMM yyyy")+"<br/><b>Message:</b>"+n.message+"<br/></p></div>"))

        @*
        @(student.courses.map(_.notifications).map(_.map(k=>Html("<li><b>"+k.initiator.bioData.displayName()+"</b><br/>"+k.message+"</li>"))))
        *@
            @student.courses.map(_.notifications).map(_.map(n=>Html("<div class='alert alert-info alert-square' ><button aria-hidden='true' data-dismiss='alert' class='close' type='button'>×</button><p class=''><b>Date:</b>"+n.issueDate.format("dd MMMM yyyy")+"<br/><b>Course:</b>"+n.course.title+"</b><br/><b>Message:</b>"+n.message+"<br/><b>Lecturer:</b>"+n.lecturer.user.bioData.displayName()+"</p></div>")))
            <a href="" class="btn btn-primary">View All</a>

    </div>

}