@(studentForm:Form[models.Forms.StudentForm])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap = scala.collection.immutable.Map(
            "Setup" -> routes.SetupController.index().toString()
        )
        SharedFunctions.BreadCrumbs.generate("Students", myMap);
    }

    @scripts ={
        <script type="text/javascript">
        $(document).ready(function(){
            @if(studentForm.hasGlobalErrors) {
                bootbox.alert('@studentForm.globalError.message ');
            }
        });

        </script>
    }

@main("Edit",breadCrumb ,scripts){

    @helper.form(routes.StudentController.update(), 'class -> "form-horizontal"  ){

        @inputText(
            studentForm("id"),
            '_label -> "id",
            'hideIt->true,
            'type->"hidden",
            'class -> "form-control form-control-square",
            'required ->""

        )

        @select(
                studentForm("gender"),
                options =Gender.values().map(p=>p.toString->p.toString),
                '_label->"Gender",
                'class -> "form-control form-control-square"
        )

        @select(
            studentForm("salutation"),
            options = Seq("Bro"->"Bro","Pastor"->"Pastor","Dr"->"Dr","Mr"->"Mr","Sis."->"Sis."),
            '_label -> "Salutation",
            'class -> "form-control form-control-square"
        )


        @inputText(
            studentForm("firstName"),
            '_label -> "First Name",
            'class -> "form-control form-control-square",
            'required ->""

        )

        @inputText(
            studentForm("middleName"),
            '_label -> "Middle Name",
            'class -> "form-control form-control-square"
        )

        @inputText(
            studentForm("lastName"),
            '_label -> "Last Name",
            'class -> "form-control form-control-square",
            'required ->""
        )

        @inputText(
            studentForm("phoneNumber"),
            '_label -> "Phone Number",
            'class -> "form-control form-control-square",
            'type -> "text"
        )

        @inputText(
            studentForm("email"),
            '_label -> "Email",
            'class -> "form-control form-control-square",
            'type -> "email",
            'required ->""
        )





        <br/><br/>
        <input type="submit" value="Update" class="btn btn-primary">


    }

}