@(students:List[models.Student])

@import helper._
@import play.i18n._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap = scala.collection.immutable.Map(
           "Setup" -> routes.SetupController.index().toString()
        )
        SharedFunctions.BreadCrumbs.generate("Students", myMap);
    }
    @scripts ={
            <script type="text/javascript">


            $('#students_table').dataTable({

            "bProcessing": true,
            "bServerSide": false,
            aaSorting : [[1, 'asc']],
            "bJQueryUI": true,
            "iDisplayStart ": 3,
            "oLanguage": {
                "sProcessing": "Please wait"
            },
            "fnInitComplete": function() {


            },

            "aoColumnDefs": [

            {
                "aTargets": [0],
                "bSearchable" : false,
                "bVisible" : false
            }
            ]
        });

             $('a.async' ).click(function(e){
                e.preventDefault();
                var thisInClick = $(this);
                    bootbox.alert("Please wait");
                $.get($(this).attr('href'),function(data){

                    bootbox.hideAll();
                    bootbox.alert(data.message);
                if(data.message === 'User is enabled' || data.message === "User is disabled" ){


                    }
        })
    });

    </script>
    }
@main("Students",breadCrumb,scripts){


        <a href="@routes.StudentController.create()" class="btn btn-primary" ><i class="fa fa-plus-square"></i> Add New</a>

    <table id="students_table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Student Number</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Gender</th>
                <th>Suspended</th>
                <th>Action</th>


            </tr>
        </thead>

        <tbody>

        @for(student <- students ){
            <tr>
                <td>@student.id</td>
                <td>@student.studentNumber</td>

                <td>@student.user.username</td>
                <td>@student.user.bioData.firstName</td>
                <td>@student.user.bioData.middleName</td>
                <td>@student.user.bioData.lastName</td>
                <td>@student.user.bioData.phoneNumber</td>
                <td>@student.user.bioData.gender</td>
                <td>@if(student.user.isEnabled){
                    No
                }else{
                    Yes
                }</td>
                <td>
                    <a class ="btn btn-primary btn-sm" href="@routes.StudentController.edit(student.id)" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                    <a class ="btn btn-sm btn-success" href="@routes.StudentController.view(student.id)" title="View"><i class="fa fa-eye"></i></a>
                    <a class ="btn btn-sm btn-danger async" href="@routes.StudentController.disable(student.id)" title="Suspend"><i class="fa fa-ban"></i></a>
                    <a class ="btn btn-sm btn-info async" href="@routes.StudentController.enable(student.id)" title="Enable"><i class="fa fa-check"></i></a>

                </td>

            </tr>
        }
</tbody>

</table>




}
