@(student:models.Student)

@main(""){
<div class="row">
    <div class="col-md-12 generic-separator">
        <h4>My Courses</h4>

        @for(courseRegistration <- student.courseRegistrations) {

            <div class="row my-courses">

                <div class="col-md-12 course-inner">
                    <div class="col-md-2 pull-left">
                        <img src="@routes.ImagerController.course(courseRegistration.course.title.replace(' ', '_')+".jpg")" style="">
                    </div>
                    <div class="col-md-10 pull-left" style="margin-left:-10px!important">
                        <h4><a href="@routes.CourseController.view(courseRegistration.course.id)">@courseRegistration.course.title.replace(" and ", " & ").toUpperCase()</a></h4>

                        <small><a href="@routes.DepartmentController.view(courseRegistration.course.department.id)">@courseRegistration.course.department.name</a> , <a href="@routes.FacultyController.view(courseRegistration.course.department.faculty.id)">@courseRegistration.course.department.faculty.name</a></small>

                        <p>
                            Registration Date: @courseRegistration.registrationDate.format("yyyy-MM-dd")
                        </p>

                        <p>
                            Academic Period: @courseRegistration.academicPeriod.name
                        </p>
                    </div>


                </div>
            </div>
        }
    </div>
</div>

}