@(student:models.Student)


@main("Result Sheet"){


    <p class="text-center">
        <b>
            Disciples of Christ Ministry<br/>
            CHERUBIM AND SERAPHIM CHURCH MOVEMENT, SURULERE , LAGOS<br/>
            DCM Academy Foundation Course Result Sheet
        </b>
    </p>
    <div class="row">
        <div class="col-md-4">
            <table class="table" border="0">
                <tr>
                    <th>Name</th>
                    <td>@student.user.bioData.displayName()</td>
                </tr>
                <tr>
                    <th>Student Number</th>
                    <td>@student.studentNumber</td>
                </tr>
            </table>
        </div>

    </div>


    <div class="row">
        <div class="col-md-12">



    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Course Title</th>
                <th>Academic Period</th>
                <th>Department</th>
                <th>Attendance</th>
                <th>C.A</th>
                <th>Exam</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @for(eRec <- student.examRecords){
                <tr>
                    <td>@eRec.course.title</td>
                    <td>@eRec.academicPeriod.name</td>
                    <td>@eRec.course.department.name</td>
                    <td>@eRec.attendanceScore</td>
                    <td>@eRec.caScore</td>
                    <td>@eRec.examScore</td>
                    <td>@(eRec.attendanceScore + eRec.caScore + eRec.examScore)</td>
                </tr>
            }

        </tbody>

    </table>

        </div>
    </div>

}