@(student:models.Student)


@main("View Student"){

    <div class="row">
        <div class="col-md-4">
            <h4>Student Information</h4>
            <table class="table">
                <tr>
                    <th>First Name</th>
                    <td>@student.user.bioData.firstName</td>
                </tr>
                <tr>
                    <th>Middle Name</th>
                    <td>@student.user.bioData.middleName</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>@student.user.bioData.lastName</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>@student.user.bioData.gender</td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>@student.user.bioData.phoneNumber</td>
                </tr>

                <tr>
                    <th>Address</th>
                    <td>@student.user.bioData.residentialAddress</td>
                </tr>

                <tr>
                    <th>Username</th>
                    <td>@student.user.username</td>
                </tr>
            </table>
        </div>


        <div class="col-md-8">
            <h4>Registered Courses</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody>
                    @for(c<-student.courses){
                        <tr>
                            <td>@c.id</td>
                            <td>@c.title</td>
                            <td>@c.department.name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}