@(deptForm:Form[models.Department],faculties: List[models.Faculty])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap  = scala.collection.immutable.Map(
            "Admin"->routes.SetupController.index().toString(),
            "Departments"->controllers.admin.routes.DepartmentController.index().toString()

        )
        SharedFunctions.BreadCrumbs.generate("Create Department",myMap);
    }

@script={
@if(deptForm.hasGlobalErrors){
    <script type="text/javascript">
    $(document).ready(function(){
    bootbox.alert('@deptForm.globalError.message');
    }
    );

    </script>

}
}
@main("Create Department",breadCrumb,script){





    @helper.form(controllers.admin.routes.DepartmentController.save(), 'class -> "form-horizontal"){

        @select(
            deptForm("faculty.id"),

            options = faculties.map(s=>s.id.toString->s.name),
            'class -> "form-control form-control-square",
            '_label -> "Faculty",
            'required -> ""
        )

        @inputText(
            deptForm("name"),
            '_label -> "Name",
            'placeholder -> "Name",
            'class -> "form-control form-control-square",
            'required -> ""

        )

        @inputText(
            deptForm("code"),
            '_label -> "Code",
            'placeholder -> "Code",
            'class -> "form-control form-control-square"

        )

        <br/><br/>
        <input type="submit" value="Create" class="btn btn-primary btn-flat"/>


    }



    


}