@(departmentForm:Form[models.Department],faculties: List[models.Faculty])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap  = scala.collection.immutable.Map(
            "Setup"->routes.SetupController.index().toString(),
            "Department"->controllers.admin.routes.DepartmentController.index().toString()

        )
        SharedFunctions.BreadCrumbs.generate("Edit Department",myMap);
    }

@script={
@if(departmentForm.hasGlobalErrors){
    <script type="text/javascript">
    $(document).ready(function(){
    bootbox.alert('@departmentForm.globalError.message');
    }
    );

    </script>

}
}
@main("Edit Department",breadCrumb,script){




    @helper.form(controllers.admin.routes.DepartmentController.update(), 'class -> "form-horizontal"){

        @select(
            departmentForm("faculty.id"),
            options = faculties.map(s=>s.id.toString->s.name),
            'class -> "form-control form-control-square",
            '_label -> "Faculty",
            'required -> ""
        )


        @inputText(
            departmentForm("id"),
            '_label -> "id",
            'placeholder -> "id",
            'hideIt->true,
            'class -> "form-control form-control-square",
            'type->"hidden"

        )

        @inputText(
            departmentForm("name"),
            '_label -> "Name",
            'placeholder -> "Name",
            'class -> "form-control form-control-square",
            'required -> ""

        )

        @inputText(
            departmentForm("code"),
            '_label -> "Code",
            'placeholder -> "Code",
            'class -> "form-control form-control-square"

        )

        <br/><br/>
        <input type="submit" value="Save" class="btn btn-primary btn-flat"/>


    }



    


}