@(Departments:List[models.Department])

@import helper._
@import play.i18n._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap = scala.collection.immutable.Map(
           "Setup" -> routes.SetupController.index().toString()
        )
        SharedFunctions.BreadCrumbs.generate("Department", myMap);
    }
    @scripts ={
            <script type="text/javascript">


            $('#Department_table').dataTable({

            "bProcessing": true,
            "bServerSide": false,
            aaSorting : [[1, 'asc']],
            "bJQueryUI": true,
            "iDisplayStart ": 3,
            "oLanguage": {
                "sProcessing": "Please wait"
            },
            "fnInitComplete": function() {


            },

            "aoColumnDefs": [

            {
                "aTargets": [0],
                "bSearchable" : false,
                "bVisible" : false
            }
            ]
        });

    </script>
    }
@main("Department",breadCrumb,scripts){


        <a href="@controllers.admin.routes.DepartmentController.create()" class="btn btn-primary" ><i class="fa fa-plus-square"></i> Add New</a>

    <table id="Department_table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th><i class="fa fa-pencil-square-o "></i> </th>
                <th>Code</th>
                <th>Name</th>
                <th>Faculty</th>



            </tr>
        </thead>

        <tbody>

        @for(department <- Departments ){
            <tr>
                <td>@department.id</td>
                <td><a class ="" href="@controllers.admin.routes.DepartmentController.edit(department.id)" title="Edit"><i class="fa fa-pencil-square-o"></i></a></td>
                <td>@department.code</td>
                <td>@department.name</td>
                <td>@if(department.faculty !=null){
                    @department.faculty.name
                }</td>

                @*<td>*@
                    @*<span class="actions">*@


                        @*<a class ="" href="@routes.DepartmentController.edit(Department.id)" title="Edit">*@
                            @*<i class="fa fa-pencil-square-o"></i></a>*@

                    @*</span>*@
                @*</td>*@

            </tr>
        }
</tbody>

</table>




}
