@(auditTrails:List[models.AuditTrails.Login])

@import helper._
@import play.i18n._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap = scala.collection.immutable.Map(
           "Setup" -> routes.SetupController.index().toString()
        )
        SharedFunctions.BreadCrumbs.generate("Login Audits", myMap);
    }
    @scripts ={
            <script type="text/javascript">


            $('#auditTrails_table').dataTable({

            "bProcessing": true,
            "bServerSide": false,
            aaSorting : [[1, 'asc']],
            "bJQueryUI": true,
            "iDisplayStart ": 3,
            "oLanguage": {
                "sProcessing": "Please wait"
            },
            "fnInitComplete": function() {


            },

            "aoColumnDefs": [

            {
                "aTargets": [0],
                "bSearchable" : false,
                "bVisible" : false
            }
            ]
        });

    </script>
    }
@main("Courses",breadCrumb,scripts){



    <table id="auditTrails_table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Event</th>
                <th>Date</th>
                <th>IP Address</th>
                <th>User</th>
                



            </tr>
        </thead>

        <tbody>

        @for(audit <- auditTrails ){
            <tr>
                <td>@audit.id</td>
                <td>@audit.eventType</td>
                <td>@audit.eventDate.format("yyyy-MM-dd")</td>
                <td>@audit.ipAddress</td>
                @if(audit.user!=null){
                    <td>@audit.user.username</td>
                }else{
                    <td>@audit.username</td>
                }



            </tr>
        }
</tbody>

</table>




}
