@(createForm:Form[models.Forms.AcademicPeriodForm],courses:List[models.Course])


@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap  = scala.collection.immutable.Map(
            "Academic Periods"->controllers.admin.routes.AcademicPeriodController.index().toString()

        )
        SharedFunctions.BreadCrumbs.generate("Create Academic Period",myMap);
    }

    @script={
        <script type="text/javascript">
        $(document).ready(function(){

            @if(createForm.hasGlobalErrors) {
                bootbox.alert('@createForm.globalError.message');

            }

            $(".addChoosen").chosen({no_results_text: "No courses found"});

            $(function() {
            $('.dateHelper').datetimepicker({
            icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-arrow-up",
            down: "fa fa-arrow-down"
            }
            });
            });




        });

        </script>

    }


@main("Create Academic Period",breadCrumb,script){


    @helper.form(controllers.admin.routes.AcademicPeriodController.save(), 'class -> "form-horizontal"  , 'role->"form") {

        @inputText(
            createForm("name"),
            '_label -> "Name",
            'class -> "form-control form-control-square ",
            'required -> ""
        )

        @inputText(
            createForm("startDate"),
            '_label -> "Start Date",
            'class -> "form-control form-control-square dateHelper",
            'required -> "",
            Symbol("data-date-format") -> "YYYY-MM-DD"
        )

        @inputText(
            createForm("endDate"),
            '_label -> "End Date",
            'class -> "form-control form-control-square dateHelper",
            'required -> "",
            Symbol("data-date-format") -> "YYYY-MM-DD"
        )

        @inputText(
            createForm("enrollmentDuration"),
            '_label -> "Enrollment Duration",
            'class -> "form-control form-control-square ",
            'required -> "",
            'type ->"number"
        )

        @inputText(
            createForm("gracePeriod"),
            '_label -> "Grace Period",
            'class -> "form-control form-control-square ",
            'required -> "",
            'type ->"number"
        )


        @select(
            createForm("availableCourses"),

            options = courses.map(s => s.id.toString -> s.title),
            'class -> "form-control form-control-square addChoosen ",
            '_label -> "Courses",
            'multiple -> "",
            'required -> ""
        )



        <p>
            <input type="submit" class="btn btn-primary" value="Create"/>
        </p>
    }
}