@(academicPeriods:List[models.AcademicPeriod])

@import helper._
@import play.i18n._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap = scala.collection.immutable.Map(
           "Setup" -> routes.SetupController.index().toString()
        )
        SharedFunctions.BreadCrumbs.generate("Academic Periods", myMap);
    }
    @scripts ={
            <script type="text/javascript">


            $('#academicPeriods_table').dataTable({

            "bProcessing": true,
            "bServerSide": false,
            aaSorting : [[1, 'asc']],
            "bJQueryUI": true,
            "iDisplayStart ": 3,
            "oLanguage": {
                "sProcessing": "Please wait"
            },
            "fnInitComplete": function() {


            },

            "aoColumnDefs": [

            {
                "aTargets": [0],
                "bSearchable" : false,
                "bVisible" : false
            }
            ]
        });

    </script>
    }
@main("Academic Periods",breadCrumb,scripts){



    <table id="academicPeriods_table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Enrollment Days</th>
                <th>Grace Period</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

        @for(academicPeriod <- academicPeriods ){
            <tr>
                <td>@academicPeriod.id</td>
                <td>@academicPeriod.name</td>
                <td>@academicPeriod.startDate.format("yyyy-MM-dd")</td>
                <td>@academicPeriod.endDate.format("yyyy-MM-dd")</td>
                <td>@academicPeriod.enrollmentDuration</td>
                <td>@academicPeriod.gracePeriod</td>

                <td>
                   <a href="" class="btn btn-primary" ><i class="fa fa-pencil"></i> Edit</a>
                   <a href="" class="btn btn-info" ><i class="fa fa-book"></i> Courses</a>
               </td>



            </tr>
        }
</tbody>

</table>




}
