@(courseForm:Form[models.Forms.CourseCreationForm],departments: List[models.Department],lecturers: List[models.Lecturer])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap  = scala.collection.immutable.Map(
            "Admin"->routes.SetupController.index().toString(),
            "Courses"->controllers.admin.routes.CourseController.index().toString()

        )
        SharedFunctions.BreadCrumbs.generate("Create Course",myMap);
    }

@script={
    <script type="text/javascript">
    $(document).ready(function(){

        @if(courseForm.hasGlobalErrors) {
            bootbox.alert('@courseForm.globalError.message');

        }

        $(".addChoosen").chosen({no_results_text: "No lecturer found"});
        $("#outline").Editor();
        $("#objective").Editor();



    });
        $(document ).submit(function(){
            $("#outline").val($("#outline").Editor("getText"));
            $("#objective").val($("#objective").Editor("getText"));

        });

    </script>

}


@main("Create Course",breadCrumb,script){





    @helper.form(controllers.admin.routes.CourseController.save(), 'class -> "form-horizontal"  , 'enctype->"multipart/form-data", 'role->"form"){

        <h5>Cover Photo</h5>
        <input type="file" name="file" class="form-control form-control-square">

        @select(
            courseForm("department.id"),

            options = departments.map(s=>s.id.toString->s.name),
            'class -> "form-control form-control-square",
            '_label -> "Department",
            'required -> ""
        )

        @inputText(
            courseForm("title"),
            '_label -> "Title",
            'placeholder -> "Title",
            'class -> "form-control form-control-square",
            'required -> ""

        )

        @inputText(
            courseForm("duration"),
            '_label -> "Duration",
            'placeholder -> "Duration",
            'class -> "form-control form-control-square",
            'required -> "",
            'type->"number"

        )

        @textarea(
            courseForm("outline"),
            '_label -> "Outline",
            'placeholder -> "Outline",
            'class -> "form-control form-control-square  addEditor"

        )

        @textarea(
            courseForm("objective"),
            '_label -> "Objective",
            'placeholder -> "Outline",
            'class -> "form-control form-control-square addEditor"

        )


        <h5>Lecturers</h5>
        <select name="lecturers[]" class="form-control form-control-square addChoosen" multiple>
            @for(l <- lecturers){
                <option value="@l.id">@(l.user.bioData.firstName+" "+l.user.bioData.lastName)</option>
            }

        </select>


        <br/><br/>
        <input type="submit" value="Create" class="btn btn-primary btn-flat"/>


    }



    


}