@(course:models.Course)

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

@main("") {
    <h3>@course.title</h3>

    <h3>About Course</h3>
    @course.outline

    <h3>Objective</h3>
    @course.objective


    @helper.form(routes.CourseController.completeEnrolment(), 'class -> "form-horizontal",'role -> "form") {

        <input type="hidden" name="courseID" class="form-control form-control-square" value="@course.id">

        <h5>Batch</h5>
        <select name="academicPeriodID" class="form-control form-control-square">
            @for(s<-course.academicPeriods){
                <option value="@s.id">@s.name</option>
            }

        </select>

        <input type="submit" value="Enroll" class="btn btn-primary" />
    }

}