@(courses:List[models.Course],academicPeriods:List[models.AcademicPeriod])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

@main("Results"){
    @helper.form(controllers.lecturer.routes.ResultController.loader(), 'class -> "form-horizontal") {

        <h5>Select Course</h5>
        <select name="course" id="course" class= "form-control form-control-square">

            @courses.map(c=>Html("<option value='"+c.id+"'>"+c.title+"</option>"))
        </select>

        <select name="academicPeriod" id="academicPeriod"  class= "form-control form-control-square">

        @academicPeriods.map(c=>Html("<option value='"+c.id+"'>"+c.name+"</option>"))

            </select>

        <br/> <br/>
        <input type="submit" value="Submit" class="btn btn-primary btn-flat"/>
    }
}