@(examRecordForm:Form[models.Forms.ExamRecordForm],course: models.Course,academicPeriod:models.AcademicPeriod)


@main("Result Sheet"){
    @helper.form(controllers.lecturer.routes.ResultController.saveRecords(), 'class -> "form-horizontal" , 'role->"form") {
        <h2>Academic Period : @academicPeriod.name</h2>
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Student Name</th>
                    <th>Attendance</th>
                    <th>CA / Test</th>
                    <th>Exam</th>
                </tr>
            </thead>
            @for((creg, count) <- course.registrations.zipWithIndex) {
                <tr>
                    <td>@(count + 1)</td>
                    <td>
                        @creg.student.user.bioData.displayName()
                    <input name="examRecords[@count].student.id" id="student[]" value="@creg.student.id" type="hidden"/>
                    <input name="examRecords[@count].course.id" id="course[]" value="@course.id" type="hidden"/>
                    <input name="examRecords[@count].academicPeriod.id" id="course[]" value="@academicPeriod.id" type="hidden"/>
                    </td>

                    <td>
                        <input name="examRecords[@count].attendanceScore" id="attendanceScore[]" type="number" step="0.1"/>
                    </td>

                    <td>
                        <input name="examRecords[@count].caScore" id="caScore[]" type="number" step="0.1"/>
                    </td>
                    <td>
                        <input name="examRecords[@count].examScore" id="examScore[]" type="number" step="0.1"/>
                    </td>
                </tr>

            }

        </table>

        <input type="submit" value="Submit" class="btn btn-primary"/>
    }

}