@(courses:List[models.Course])

@import helper._
@import play.i18n._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap = scala.collection.immutable.Map(
           "Setup" -> routes.SetupController.index().toString()
        )
        SharedFunctions.BreadCrumbs.generate("Courses", myMap);
    }
    @scripts ={
            <script type="text/javascript">


            $('#courses_table').dataTable({

            "bProcessing": true,
            "bServerSide": false,
            aaSorting : [[1, 'asc']],
            "bJQueryUI": true,
            "iDisplayStart ": 3,
            "oLanguage": {
                "sProcessing": "Please wait"
            },
            "fnInitComplete": function() {


            },

            "aoColumnDefs": [

            {
                "aTargets": [0],
                "bSearchable" : false,
                "bVisible" : false
            }
            ]
        });

    </script>
    }
@main("Courses",breadCrumb,scripts){


        <a href="@controllers.admin.routes.CourseController.create()" class="btn btn-primary" ><i class="fa fa-plus-square"></i> Add New</a>

    <table id="courses_table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th><i class="fa fa-pencil-square-o "></i> </th>
                <th>Name</th>
                <th>Department</th>
                <th>Faculty</th>
                



            </tr>
        </thead>

        <tbody>

        @for(course <- courses ){
            <tr>
                <td>@course.id</td>
                <td><a class ="" href="@controllers.admin.routes.CourseController.edit(course.id)" title="Edit"><i class="fa fa-pencil-square-o"></i></a></td>
                <td>@course.title</td>
                <td>@course.department.name</td>
                <td>
                    @course.department.faculty.name
                </td>


            </tr>
        }
</tbody>

</table>




}
