@(courses: List[Course], currentPage: Integer, pageCount: Integer, currentAcademicPeriod:models.AcademicPeriod)
@import org.joda.time.LocalDate
@import play.api.Play

@import helper._
@import play.i18n._
@import play.api.Play.current

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{

        SharedFunctions.BreadCrumbs.generate("Courses", null);
    }
    @scripts = {

    }

@main("Courses") {

    <div class="row">
        <div class="col-md-3" style="font-size:smaller">
            <form class="form-horizontal" role="form" action="@routes.CourseController.search()">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control form-control-square" name="title" placeholder="search for courses"/>
                    </div>
                    <div class="col-md-3">
                        <input type="submit" class="btn btn-primary" value="Search" />
                    </div>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Beginners
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                            @for(d<-Department.find.orderBy().asc("faculty.name").findList().filter(s=>(s.name.equals("FOUNDATION CLASS")))){

                                <p>
                                    <input type="checkbox" name="departments[]" value="@d.id" >
                                    <span style="margin-left:15px">@d.name </span>
                                </p>
                            }
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Advanced
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                            @for(d<-Department.find.orderBy().asc("faculty.name").findList().filter(s=>(!s.name.equals("FOUNDATION CLASS")))){

                                <p>
                                    <input type="checkbox" name="departments[]" value="@d.id" >
                                    <span style="margin-left:15px">@d.name </span>
                                </p>
                            }
                            </div>
                        </div>
                    </div>

                </div>



            </form>
        </div>
        <div class="col-md-9">
    @for(course <- courses) {

        <div class="row course_holder">

        <div class="col-md-12 course-inner">
                <div class="col-md-2 pull-left">
                    @*/@current.configuration.getString("app.image.storage").get.concat("/" + course.title.replace(' ', '_') + ".jpg")*@
                    <img src="@routes.ImagerController.course(course.title.replace(' ', '_')+".jpg")" style="">
                </div>
                <div class="col-md-7 pull-left" style="margin-left:-10px!important">
                    <p class="paginated-course-title"><a href="@routes.CourseController.view(course.id)">@course.title.replace(" and ", " & ").toUpperCase()</a></p>
                    <p><a href="@routes.DepartmentController.view(course.department.id)">@course.department.name</a> , <a href="@routes.FacultyController.view(course.department.faculty.id)">@course.department.faculty.name</a></p>
                    <p>@Html(course.lecturers.zipWithIndex.filter(p=>p._2<2).map(s=>"<a href='"+routes.LecturerController.view(s._1.id)+"'>"+s._1.user.bioData.displayName()+"</a>").mkString(" & "))</p>
                </div>
                <div class="col-md-3 pull-right">
                    <a

                        @if(SharedFunctions.DateHelper.dateWithinRange((new LocalDate(currentAcademicPeriod.startDate) ),(new LocalDate(currentAcademicPeriod.startDate).plusDays(currentAcademicPeriod.enrollmentDuration) ) )){
                            href="@routes.CourseController.enroll(course.id)" class="btn btn-success ">Enroll</a>

                    }else{
                        href="#" class="btn disabled" alt='Registration closed'>Registration Closed</a>
                    }
                </div>

        </div>
        </div>
    }
        </div>

    </div>
    <div class="row pagination_row">
        <div class="col-md-6 col-centered">
            @pagination(currentPage, pageCount, pageCount)
        </div>
    </div>

    <style>
    .course_holder {
    border-collapse : collapse ;
        border-color: #ccc;
        border-width: 1px 1px 0px 1px;
        border-style: solid;
    }
   .course_holder:hover{
       background-color: #f5f5f5;
       cursor: hand;
       cursor: pointer;
   }

    .course-inner {
    padding : 1.5em ;
    }

    .course-inner p {
        font-size: 12px;
    }
    .course-inner img{
        border:1px solid #ccc;
        box-shadow: #000;

    }
    .col-centered{
    float: none;
    margin: 0 auto;
    }

        .pagination_row{
        border-top:1px solid #ccc;
            border-collapse: collapse;
            padding-top: 20px;
        }

    </style>

}