@(courses: List[Course],courseSearchForm : models.Forms.CourseSearchForm, currentPage: Integer, pageCount: Integer)
@import play.api.Play

@import helper._
@import play.i18n._
@import play.api.Play.current

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{

        SharedFunctions.BreadCrumbs.generate("Courses", null);
    }
    @scripts = {

    }

@main("Courses") {

    <div class="row">
        <div class="col-md-3" style="font-size:smaller">
            <form class="form-horizontal" role="form" action="@routes.CourseController.search()">
                <input type="text" class="form-control form-control-square" name="title" placeholder="search for courses" value="@courseSearchForm.title"/>
        @for(d<-Department.find.orderBy().asc("faculty.name").findList()){

            <p>
                <input type="checkbox" name="departments[]" value="@d.id"
                    @if(courseSearchForm.departments.contains(d.id)){
                        checked=""
                    }
                >
                <span style="margin-left:15px">@d.name </span>
            </p>
        }
                <input type="submit" class="btn btn-primary" value="Search" />

            </form>
        </div>
        <div class="col-md-9">
    @for(course <- courses) {

        <div class="row course_holder">

        <div class="col-md-12 course-inner">
                <div class="col-md-2 pull-left">
                    @*/@current.configuration.getString("app.image.storage").get.concat("/" + course.title.replace(' ', '_') + ".jpg")*@
                    <img src="@routes.ImagerController.course(course.title.replace(' ', '_')+".jpg")" style="">
                </div>
                <div class="col-md-8 pull-left" style="margin-left:-10px!important">
                    <p class="paginated-course-title"><a href="@routes.CourseController.view(course.id)">@course.title.replace(" and ", " & ").toUpperCase()</a></p>
                    <p><a href="@routes.DepartmentController.view(course.department.id)">@course.department.name</a> , <a href="@routes.FacultyController.view(course.department.faculty.id)">@course.department.faculty.name</a></p>
                    <p>@Html(course.lecturers.zipWithIndex.filter(p=>p._2<2).map(s=>"<a href='"+routes.LecturerController.view(s._1.id)+"'>"+s._1.user.bioData.displayName()+"</a>").mkString(" & "))</p>
                </div>
                <div class="col-md-2 pull-right">
                    <a href="@routes.CourseController.enroll(course.id)" class="btn btn-success">Enroll</a>
                </div>

        </div>
        </div>
    }
        </div>

    </div>
    <div class="row pagination_row">
        <div class="col-md-6 col-centered">
            @courseSearchForm.setPage(currentPage)
            @searchpagination(currentPage, pageCount, pageCount,courseSearchForm)
        </div>
    </div>

    <style>
    .course_holder {
    border-collapse : collapse ;
        border-color: #ccc;
        border-width: 1px 1px 0px 1px;
        border-style: solid;
    }
   .course_holder:hover{
       background-color: #f5f5f5;
       cursor: hand;
       cursor: pointer;
   }

    .course-inner {
    padding : 1.5em ;
    }

    .course-inner p {
        font-size: 12px;
    }
    .course-inner img{
        border:1px solid #ccc;
        box-shadow: #000;

    }
    .col-centered{
    float: none;
    margin: 0 auto;
    }

        .pagination_row{
        border-top:1px solid #ccc;
            border-collapse: collapse;
            padding-top: 20px;
        }

    </style>

}