@(course:models.Course,relatedCourses:List[models.Course])


@main(course.title) {
    <div class="row">
        <div class="col-md-7">
            @*<img src="@routes.ImagerController.course(course.title.replace(' ', '_')+".jpg")" class="img-thumbnail">*@
            <h3>About this course</h3>
            @Html(course.outline)

           <h3>Objectives</h3>
            @course.objective

            <div class="row">
                <div class="col-md-12">
                    <h3>Related Courses</h3>

                    @for(c<-relatedCourses){
                        <div class="col-md-3 course-inner">
                            <div class="col-md-12 pull-left" style="text-align: center">
                                <img src="@routes.ImagerController.course(c.title.replace(' ', '_')+".jpg")" style="">
                                <br/>
                                <p><a href="@routes.CourseController.view(c.id)">@c.title.replace(" and ", " & ").toUpperCase()</a></p>
                            </div>



                        </div>
                    }



                </div>
            </div>

        </div>

        <div class="col-md-5">

            <div class="row">
                <div class="col-md-12">
                    <h4>Lecturers</h4>

                    @for(l <- course.lecturers){
                        <div class="col-md-12" style="margin-bottom: 10px">
                            <img src="@routes.ImagerController.lecturer(l.id+".jpg")" class="img-circle person_photo small_person_photo"> <strong>@l.user.bioData.displayName()</strong>
                            <p>@course.department.faculty.name , @course.department.name</p>
                        </div>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>Course Documentation</h4>

                    @for(d<-course.courseDocumentations){
                        <p><a href="@routes.DocumentLoaderController.file(d.fileName)"><i class="fa fa-file-pdf-o" style="margin-right:10px"></i> @d.title</a></p>
                    }

                </div>
            </div>



        </div>
    </div>
}
