@(featuredForm:Form[models.Forms.FeaturedCourseForm],courses: List[models.Course])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }
    @script= {
        <script type="text/javascript">
        $ ( ".addChoosen" ).chosen ( { no_results_text : "No lecturer found" } ) ;
        </script>
    }

@main("Result Sheet","",script){
    @helper.form(controllers.admin.routes.FeaturedCourseController.save(), 'class -> "form-horizontal" , 'role->"form") {


        <h5>Courses</h5>
        <select name="courses[]" class="form-control form-control-square addChoosen" multiple required>
        @for(c <- courses){
            <option value="@c.id">@c.title</option>
        }

        </select>

        <input type="submit" value="Submit" class="btn btn-primary"/>
    }

}