@(featuredCourses:List[models.FeaturedCourse])

@import helper._
@import play.i18n._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap = scala.collection.immutable.Map(
           "Setup" -> routes.SetupController.index().toString()
        )
        SharedFunctions.BreadCrumbs.generate("Featured Courses", myMap);
    }
    @scripts ={
            <script type="text/javascript">

            var dataTable = $('#featuredCourses_table').dataTable({

            "bProcessing": true,
            "bServerSide": false,
            aaSorting : [[1, 'asc']],
            "bJQueryUI": true,
            "iDisplayStart ": 3,
            "oLanguage": {
            "sProcessing": "Please wait"
            },
            "fnInitComplete": function() {


            },

            "aoColumnDefs": [

            {
            "aTargets": [0],
            "bSearchable" : false,
            "bVisible" : false
            }
            ]
            });


            $('a.async' ).click(function(e){
                e.preventDefault();
                var thisInClick = $(this);
                bootbox.alert("Please wait");
                $.get($(this).attr('href'),function(data){
                    console.log(JSON.stringify(data));

                    bootbox.hideAll();
                    bootbox.alert(data.message);
                    if(data.message === 'Course has been removed' ){

                    var row = thisInClick.closest('tr');
                    var nRow = row[0];
                    dataTable.dataTable().fnDeleteRow(nRow);

                    }
                });
            });





    </script>
    }
@main("Featured Courses",breadCrumb,scripts){

<a href="@controllers.admin.routes.FeaturedCourseController.add()" class="btn btn-primary" >Add </a>

    <table id="featuredCourses_table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Course Name</th>
                <th>Remove</th>
                
            </tr>
        </thead>

        <tbody>

        @for(featuredCourse <- featuredCourses ){
            <tr>
                <td>@featuredCourse.id</td>
                <td>@featuredCourse.course.title</td>
                <td><a class="btn btn-danger async" href="@controllers.admin.routes.FeaturedCourseController.remove(featuredCourse.id)"><i class="fa fa-trash"></i></a></td>
            </tr>
        }
</tbody>

</table>




}
