@(paymentForm:Form[models.FeePayment],students:List[models.Student],courses:List[models.Course], academicPeriods:List[models.AcademicPeriod])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{

        SharedFunctions.BreadCrumbs.generate("Record Fees",null);
    }

    @script={
        <script type="text/javascript">
        $(document).ready(function(){

            @if(paymentForm.hasGlobalErrors) {
                bootbox.alert('@paymentForm.globalError.message');

            }

            $(function() {
                $('#paymentDate').datetimepicker({
                    icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                    }
                });
            });
    });

        </script>

    }


@main("Record Fee",breadCrumb,script){

    @helper.form(controllers.admin.routes.PaymentController.save(), 'class -> "form-horizontal"  , 'role->"form") {

        @select(
            paymentForm("paymentMethod"),
            options =PaymentRoute.values().map(p=>p.toString->p.toString),
            '_label->"Payment Method",
            'class -> "form-control form-control-square"
        )

        @select(
            paymentForm("academicPeriod.id"),
            options = academicPeriods.map(s => s.id.toString -> s.name),
            '_label -> "Academic Period",
            'class -> "form-control form-control-square",
            'required -> ""
        )

        @select(
            paymentForm("student.id"),
            options = students.map(s => s.id.toString -> s.user.bioData.displayName().concat(" - "+s.user.username)),
            '_label -> "Student",
            'class -> "form-control form-control-square",
            'required -> ""
        )

        @select(
            paymentForm("course.id"),
            options = courses.map(c => c.id.toString -> c.title),
            '_label -> "Course",
            'class -> "form-control form-control-square",
            'required -> ""
        )

        @inputText(
            paymentForm("amount"),
            '_label -> "Amount",
            'class -> "form-control form-control-square",
            'required -> ""
        )


        @inputText(
            paymentForm("paymentReference"),
            '_label -> "Payment Reference eg.(Teller Number)",
            'class -> "form-control form-control-square",
            'required -> ""
        )

        @inputText(
            paymentForm("paymentDate"),
            '_label -> "Date Paid",
            'class -> "form-control form-control-square paymentDate",
            'required -> "",
            Symbol("data-date-format") -> "YYYY-MM-DD"
        )

        <br/>
        <input type="submit" class="btn btn-primary" />


    }
    
    
}