@(payments:List[models.FeePayment])

@import helper._
@import play.i18n._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap = scala.collection.immutable.Map(
           "Setup" -> routes.SetupController.index().toString()
        )
        SharedFunctions.BreadCrumbs.generate("Payments", myMap);
    }
    @scripts ={
            <script type="text/javascript">


            $('#payments_table').dataTable({

            "bProcessing": true,
            "bServerSide": false,
            aaSorting : [[1, 'asc']],
            "bJQueryUI": true,
            "iDisplayStart ": 3,
            "oLanguage": {
                "sProcessing": "Please wait"
            },
            "fnInitComplete": function() {


            },

            "aoColumnDefs": [

            {
                "aTargets": [0],
                "bSearchable" : false,
                "bVisible" : false
            }
            ]
        });

    </script>
    }
@main("Payments",breadCrumb,scripts){


        <a href="@controllers.admin.routes.PaymentController.create()" class="btn btn-primary" ><i class="fa fa-plus-square"></i> Add New</a>

    <table id="payments_table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Amount Paid</th>
                <th>Amount Due</th>
                <th>Course</th>
                <th>Method</th>
                <th>Reference</th>
                <th>Academic Period</th>
                <th>Date</th>
                <th>Student Number</th>
                <th>Student Name</th>



            </tr>
        </thead>

        <tbody>

        @for(payment <- payments ){
            <tr>
                <td>@payment.id</td>
                <td>@payment.amount</td>
                <td>@payment.course.fee</td>
                <td>@payment.course.title</td>
                <td>@payment.paymentMethod</td>
                <td>@payment.paymentReference</td>
                <td>@payment.academicPeriod.name</td>
                <td>@if(payment.paymentDate !=null){
                    @payment.paymentDate.format("yyyy-MM-dd")
                }</td>
                <td>@payment.student.studentNumber</td>
                <td>@payment.student.user.bioData.displayName()</td>





            </tr>
        }
</tbody>

</table>




}
