/*
Theme: eLearning - Free Educational Responsive Web Template
Description: Free to use for personal and commercial use
Author: WebThemez.com
Website: http://webthemez.com
Note: Please do not remove the footer backlink (webthemez.com)--(if you want to remove contact: webthemez@gmail.com)
Licence: Creative Commons Attribution 3.0** - http://creativecommons.org/licenses/by/3.0/
*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}
/*General*/
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 30px;
}

h2 {
    margin: 30px 0;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.89);
}

blockquote {
    font-style: italic;
    font-family: Georgia;
    color: #999;
    margin: 30px 0 30px;
}

label {
    color: #777;
}

/* Header */
#head {
    background: #181015 url( ../images/bg_header.jpg) no-repeat;
    background-size: cover;
    min-height: 520px;
    text-align: center;
    color: white;
    font-weight: 300;
    position: relative;
    background-position-x: center;
}

    #head.secondary {
        height: 100px;
        min-height: 100px;
        padding-top: 0px;
    }

    #head .lead {
        font-size: 44px;
        margin-bottom: 6px;
        color: white;
        line-height: 1.15em;
    }

    #head .tagline {
        color: rgba(255,255,255,0.75);
        margin-bottom: 25px;
    }

        #head .tagline a {
            color: #fff;
        }

    #head .btn {
        margin-bottom: 10px;
    }

    #head .btn-default {
        text-shadow: none;
        background: transparent;
        color: rgba(255,255,255,.5);
        -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
        -moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
        box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
        background: transparent;
    }

        #head .btn-default:hover,
        #head .btn-default:focus {
            color: rgba(255,255,255,.8);
            -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
            -moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
            box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
            background: transparent;
        }

        #head .btn-default:active,
        #head .btn-default.active {
            color: #fff;
            -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
            -moz-box-shadow: inset 0px 0px 0px 3px #fff;
            box-shadow: inset 0px 0px 0px 3px #fff;
            background: transparent;
        }

.panel {
    margin-bottom: 0px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-body {
    padding: 0px;
}

.btn-action, .btn-primary {
    color: #FFEFD7;
    background-image: -webkit-linear-gradient(top, #0ecfec 0%, #09bed9 100%);
    background-image: linear-gradient(to bottom, #0ecfec 0%, #09bed9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ecfec22', endColorstr='#09bed900', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border: 0 none;
}

    .btn-action:hover, .btn-primary:hover {
        background: #04a0b7;
    }

.slideUp {
    top: -100px;
}

.navbar-inverse {
    background: #fff;
}

.navbar-inverse {
    border: none;
}

    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
        color: #797979;
        font-size: 15px;
        font-weight: 700;
    }

        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
            background: none;
            color: #0b9ff3 !important;
        }

    .navbar-inverse .navbar-nav > .active > a {
        background: none;
        color: #0b9ff3;
    }

    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
        text-align: left;
    }
/* Highlights*/
.highlight {
    margin-top: 40px;
}

.h-caption {
    text-align: center;
}

    .h-caption i {
        display: block;
        font-size: 54px;
        color: #0b9ff3;
        margin-bottom: 36px;
    }

    .h-caption h4 {
        color: #382526;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
    }

div.hbox {
    background: #fff;
    padding: 10px 15px;
}

.h-body {
}

.jumbotron {
    background-color: #E0E0E0;
}

.page-header {
    border-bottom: 1px solid #15c008;
}

.page-title {
    margin-top: 20px;
    font-weight: 300;
    color: #15c008;
}

.text-muted {
    color: #888;
}

.breadcrumb {
    background: none;
    padding: 0;
    margin: 30px 0 0px 0;
}

ul.list-spaces li {
    margin-bottom: 10px;
}

/* Helpers */
.container-full {
    margin: 0 auto;
    width: 100%;
}

.top-space {
    margin-top: 60px;
}

.top-margin {
    margin-top: 20px;
}

.circle {
    background: rgb(214, 214, 214);
    width: 95px;
    height: 95px;
    border-radius: 90px;
    line-height: 95px;
    margin: 0 auto 20px;
}

img {
    max-width: 100%;
}

    img.pull-right {
        margin-left: 10px;
    }

    img.pull-left {
        margin-right: 10px;
    }

#map {
    width: 100%;
    height: 280px;
}

#social {
    margin-top: 50px;
    margin-bottom: 50px;
}

    #social .wrapper {
        width: 340px;
        margin: 0 auto;
    }

.sidebar {
    padding-top: 36px;
    padding-bottom: 30px;
}

    .sidebar .panel {
        margin-bottom: 20px;
    }

    .sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 {
        margin-top: 20px;
    }

.featured-box {
    padding: 1px;
    border: solid 1px #ddd;
    background: rgb(240, 240, 240);
    margin-bottom: 20px;
    max-height:227px;
    height:227px;
    min-height: 227px;
    overflow-y: hidden;
}

    .featured-box .text {
        padding-left: 80px;
    }

    .featured-box h3 {
        margin: 0 0 5px 0;
    }

    .featured-box i {
        position: absolute;
        display: inline-block;
        color: #0b9ff3;
        border: solid 2px #0b9ff3;
        background: #fff;
        padding: 0px;
        border-radius: 50px;
        width: 24px;
        height: 24px;
        margin: 0px;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
    }

footer {
    border-top: 1px solid #e5e5e5;
    background: #ECECEC;
}

.social {
    margin: 20px 0;
}

    .social a {
        font-size: 32px;
        margin: 0 10px;
        color: #8c8c8c;
    }

        .social a:hover {
            color: #0b9ff3;
        }
/* Footer */
.footer1 {
    background: #fff;
    padding: 30px 0 0 0;
    font-size: 12px;
    color: #999;
}

    .footer1 a {
        color: #ccc;
    }

        .footer1 a:hover {
            color: #fff;
        }

    .footer1 .panel {
        margin-bottom: 30px;
    }

    .footer1 .panel-title {
        font-size: 17px;
        font-weight: bold;
        color: #ccc;
        margin: 0 0 20px;
    }

    .footer1 .entry-meta {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin: 0 0 35px 0;
        padding: 2px 0;
        color: #888888;
        font-size: 12px;
        font-size: 0.75rem;
    }

        .footer1 .entry-meta a {
            color: #333333;
        }

        .footer1 .entry-meta .meta-in {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
        }

.follow-me-icons {
    font-size: 30px;
}

    .follow-me-icons i {
        float: left;
        margin: 0 10px 0 0;
        color: #0b9ff3;
    }

.footer2 {
    background: #060a1b;
    padding: 15px 0;
    color: #777;
    font-size: 12px;
}

    .footer2 a {
        color: #aaa;
    }

        .footer2 a:hover {
            color: #fff;
        }

    .footer2 p {
        margin: 0;
    }

.panel-simplenav {
    margin-left: -5px;
}

    .panel-simplenav a {
        margin: 0 5px;
    }

#services .fa {
    color: #0b9ff3;
}
/* carousel */
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px 0px 0px;
}

    /* Control buttons  */
    #quote-carousel .carousel-control {
        background: none;
        color: #222;
        font-size: 2.3em;
        text-shadow: none;
        margin-top: 30px;
    }
        /* Previous button  */
        #quote-carousel .carousel-control.left {
            left: -12px;
        }
        /* Next button  */
        #quote-carousel .carousel-control.right {
            right: -12px !important;
        }
    /* Changes the position of the indicators */
    #quote-carousel .carousel-indicators {
        right: 50%;
        top: auto;
        bottom: 0px;
        margin-right: -19px;
    }
        /* Changes the color of the indicators */
        #quote-carousel .carousel-indicators li {
            background: #c0c0c0;
        }

        #quote-carousel .carousel-indicators .active {
            background: #333333;
        }

    #quote-carousel img {
        width: 250px;
        height: 100px;
    }
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

    .item blockquote img {
        margin-bottom: 10px;
    }

    .item blockquote p:before {
        content: "\f10d";
        font-family: 'Fontawesome';
        float: left;
        margin-right: 10px;
    }

.contact ul {
    padding: 0px;
}

    .contact ul li {
        margin-bottom: 10px;
        list-style: none;
    }

footer ul li {
    list-style: none;
}

#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* ------- */

.isotopeWrapper article {
    margin-bottom: 30px;
}

#portfolio {
}

    #portfolio img {
        width: 100%;
    }

    #portfolio article p {
        margin-bottom: 1.45em;
        /*set next row on the baseline*/;
    }

nav#filter {
    margin-bottom: 1.5em;
}

    nav#filter li {
        display: inline-block;
        margin: 10px;
    }

    nav#filter a {
        padding: 4px 12px;
        line-height: 20px;
        border: 1px solid #00bfff;
        text-decoration: none;
        color: #00bfff;
    }

        nav#filter a.current {
            background: #00bfff;
            color: #fff;
        }

.iconColor .fa {
    color: #ee0c45;
}

.portfolio-items article img {
    width: 100%;
}

.portfolio-item {
    display: block;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    .portfolio-item img {
        -webkit-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        transition: all 300ms linear;
    }

    .portfolio-item .portfolio-desc {
        display: block;
        opacity: 0;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        color: rgba(220, 220, 220);
    }

.fancybox-overlay {
    background: rgba(0, 0, 0, 0.64);
}

.portfolio-item:hover .portfolio-desc {
    padding-top: 20%;
    height: 100%;
    transition: all 200ms ease-in-out 0s;
    opacity: 1;
    background: rgba(61, 61, 61, 0.67);
}

.portfolio-item .portfolio-desc a {
    color: #fff;
    text-align: center;
    display: block;
}

    .portfolio-item .portfolio-desc a:hover {
        /*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);*/
        text-decoration: none;
    }

.portfolio-item .portfolio-desc .folio-info {
    top: -20px;
    padding: 30px;
    height: 0;
    opacity: 0;
    position: relative;
}

.portfolio-item:hover .folio-info {
    height: 100%;
    opacity: 1;
    transition: all 500ms ease-in-out 0s;
    top: 5px;
}

.portfolio-item .portfolio-desc .folio-info h5 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}

.portfolio-item .portfolio-desc .folio-info p {
    color: #ffffff;
    font-size: 12px;
}


/*Da Slider*/
.da-slider {
    width: auto;
    height: auto;
    max-height: initial;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.da-slide h2 {
    text-align: center;
    top: 15%;
    font-weight: bold;
}

.da-slide p {
    text-align: center;
    top: 40%;
    font-size: 30px;
}

.da-arrows span {
    position: absolute;
    top: 45%;
}

.da-dots span.da-dots-current:after {
    content: '';
    background: #0b9ff3;
}

.team-member {
    padding-top: 5px;
    margin-bottom: 15px;
}

.team-heading {
    display: block;
    width: 100%;
}

.member-img {
    overflow: hidden;
}

    .member-img img {
        border-radius: 182px;
        border: 1px solid rgb(218, 218, 218);
    }

.team-socials {
    margin: 15px 0;
    display: block;
    text-align: center;
}

    .team-socials i {
        width: 35px;
        height: 35px;
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 18px;
        color: #C7C7C7;
    }

        .team-socials i:hover {
            color: #0b9ff3;
        }

.team-member h4 {
    font-size: 19px;
    line-height: 32px;
    padding: 10px 0 0;
    text-align: center;
    margin: 0px;
}

.team-member .pos {
    display: block;
    margin: 0;
    text-align: center;
}

#head.secondary {
    height: 100px;
    min-height: 100px;
    padding-top: 0px;
    background: #181015 url(../images/bg_header.jpg) 0px -232px no-repeat;
    background: #0b9ff3;
    background-size: cover;
    text-align: left;
}
/*Price table*/
.flat {
    margin: 30px 0;
}

    .flat .plan {
        border-radius: 0px;
        list-style: none;
        padding: 0 0 20px;
        margin: 0 0 15px;
        background: #fff;
        text-align: center;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29) !important;
    }

        .flat .plan li {
            padding: 10px 15px;
            color: #ccc;
            border-top: 1px solid #f5f5f5;
            -webkit-transition: 300ms;
            transition: 300ms;
        }

            .flat .plan li.plan-price {
                border-top: 0;
            }

            .flat .plan li.plan-name {
                border-radius: 0;
                padding: 15px;
                font-size: 24px;
                line-height: 24px;
                color: #fff;
                background: #4E4E4E;
                margin-bottom: 30px;
                border-top: 0;
            }

            .flat .plan li > strong {
                color: #6B6B6B;
                font-weight: normal;
            }

            .flat .plan li.plan-action {
                margin-top: 10px;
                border-top: 0;
            }

        .flat .plan.featured {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }

            .flat .plan.featured:hover li.plan-name, .flat .plan:hover li.plan-name, .flat .plan.featured.plan-name {
                background: #00bfff !important;
            }

.btn {
    background: #00bfff;
    color: #fff;
}
.footer2 a {
padding:4px 8px;
}
/**
  MEDIA QUERIES
*/
@media (max-width: 767px) {
    #head.secondary {
        height: 80px;
        min-height: 80px;
        background-size: initial;
    }

    #head {
        min-height: 420px;
    }

        #head .lead {
            font-size: 34px;
        }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .navbar-collapse ul {
        text-align: right;
        margin-right: 0px;
    }
}
/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }

        #quote-carousel .carousel-indicators li {
            display: inline-block;
            margin: 0px 5px;
            width: 15px;
            height: 15px;
        }

            #quote-carousel .carousel-indicators li.active {
                margin: 0px 5px;
                width: 20px;
                height: 20px;
            }

    .footer2 p {
        margin: 0;
        text-align: center;
    }
}

@media (max-width: 420px) {
    .da-slide h2 {
        font-size: 28px;
    }

    .da-slide p {
        font-size: 19px;
        font-weight: 400;
    }
}

.content_holder{
    margin-top: 20px !important;
}

.dataTables_filter{
    float:right !important;
}

.settingTile{
    min-height:100px;
    max-height:100px;
    text-align: center;
    margin-bottom:20px;
}

.settingTile a{

    color:#fff;
    text-align: center;
}

.settingTile a:visited , .settingTile a:hover{
    color:#fff;
}


.settingTile .inner{
    padding: 20px;
}

.bg-primary {
    background-color: #5d9cec;
    color: #fff!important;
}
.bg-primary-light {
    background-color: #8bb8f1;
    color: #fff!important;
}
.bg-primary-dark {
    background-color: #2f80e7;
    color: #fff!important;
}
.bg-primary small {
    color: inherit;
}
.bg-success {
    background-color: #27c24c;
    color: #fff!important;
}
.bg-success-light {
    background-color: #43d967;
    color: #fff!important;
}
.bg-success-dark {
    background-color: #1e983b;
    color: #fff!important;
}
.bg-success small {
    color: inherit;
}
.bg-info {
    background-color: #23b7e5;
    color: #fff!important;
}
.bg-info-light {
    background-color: #51c6ea;
    color: #fff!important;
}
.bg-info-dark {
    background-color: #1797be;
    color: #fff!important;
}
.bg-info small {
    color: inherit;
}
.bg-warning {
    background-color: #ff902b;
    color: #fff!important;
}
.bg-warning-light {
    background-color: #ffab5e;
    color: #fff!important;
}
.bg-warning-dark {
    background-color: #f77600;
    color: #fff!important;
}
.bg-warning small {
    color: inherit;
}
.bg-danger {
    background-color: #f05050;
    color: #fff!important;
}
.bg-danger-light {
    background-color: #f47f7f;
    color: #fff!important;
}
.bg-danger-dark {
    background-color: #ec2121;
    color: #fff!important;
}
.bg-danger small {
    color: inherit;
}
.bg-green {
    background-color: #37bc9b;
    color: #fff!important;
}
.bg-green-light {
    background-color: #58ceb1;
    color: #fff!important;
}
.bg-green-dark {
    background-color: #2b957a;
    color: #fff!important;
}
.bg-green small {
    color: inherit;
}
.bg-pink {
    background-color: #f532e5;
    color: #fff!important;
}
.bg-pink-light {
    background-color: #f763eb;
    color: #fff!important;
}
.bg-pink-dark {
    background-color: #e90bd6;
    color: #fff!important;
}
.bg-pink small {
    color: inherit;
}
.bg-purple {
    background-color: #7266ba;
    color: #fff!important;
}
.bg-purple-light {
    background-color: #9289ca;
    color: #fff!important;
}
.bg-purple-dark {
    background-color: #564aa3;
    color: #fff!important;
}
.bg-purple small {
    color: inherit;
}

.no-decoration{
    text-decoration: none;
}

.no-decoration:hover{
    text-decoration: none;
}

.dataTables_wrapper{
    padding-top: 20px !important;
}
.breadcrumb-holder{margin-top:20px;background: rgba(240, 240, 240, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; display: block;}
.breadcrumb {padding-bottom: 15px;}
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: rgba(66, 139, 202, 1);}
.breadcrumb a:hover {color: rgba(42, 100, 150, 1);}
.breadcrumb>.active {color: rgba(153, 153, 153, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\276F\00a0";}


.errors_boot{
    color: red;
}

.person_photo{
    width:150px;
    height:150px;
    border:1px solid #ccc !important;
    margin-left:20px;
    padding:5px;
    float:left;
}

.small_person_photo{
    width: 75px !important;
    height: 75px !important;
}

.my-featured-faculty{
    font-size: smaller;
}

.paginated-course-title{

    font-size:small !important;
}

@media screen and (max-width:430px){
    .navbar-brand{
        font-size:14px !important;
    }
}


.generic-separator{
    margin-bottom:20px;
}

.my-courses{

    border:1px solid lightgray;
    border-collapse: collapse;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(20, 20, 20, 0.1);
    -moz-box-shadow:    0px 0px 2px 0px rgba(20, 20, 20, 0.1);
    box-shadow:         0px 0px 2px 0px rgba(20, 20, 20, 0.1);
    padding-top:15px;
    padding-bottom:15px;
    margin-bottom:20px;
}

#footer{
    margin-top:20px
}

