@(userForm:Form[models.Forms.UserForm])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap = scala.collection.immutable.Map(
            "Setup" -> routes.SetupController.index().toString()
        )
        SharedFunctions.BreadCrumbs.generate("Users", myMap);
    }

    @scripts ={
        <script type="text/javascript">
        $(document).ready(function(){
            @if(userForm.hasGlobalErrors) {
                bootbox.alert('@userForm.globalError.message ');
            }
        });

        </script>
    }

@main("Create Admin",breadCrumb ,scripts){

    @helper.form(routes.StudentController.save(), 'class -> "form-horizontal"  ){

        @select(
                userForm("gender"),
                options =Gender.values().map(p=>p.toString->p.toString),
                '_label->"Gender",
                'class -> "form-control form-control-square"
        )

        @select(
            userForm("salutation"),
            options = Seq("Bro"->"Bro","Pastor"->"Pastor","Dr"->"Dr","Mr"->"Mr","Sis."->"Sis."),
            '_label -> "Salutation",
            'class -> "form-control form-control-square"
        )


        @inputText(
            userForm("firstName"),
            '_label -> "First Name",
            'class -> "form-control form-control-square",
            'required ->""

        )

        @inputText(
            userForm("middleName"),
            '_label -> "Middle Name",
            'class -> "form-control form-control-square"
        )

        @inputText(
            userForm("lastName"),
            '_label -> "Last Name",
            'class -> "form-control form-control-square",
            'required ->""
        )

        @inputText(
            userForm("email"),
            '_label -> "Email",
            'class -> "form-control form-control-square",
            'type -> "email",
            'required ->""
        )





        <br/><br/>
        <input type="submit" value="Create" class="btn btn-primary">


    }

}