@(users:List[models.User])

@import helper._
@import play.i18n._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap = scala.collection.immutable.Map(
           "Setup" -> routes.SetupController.index().toString()
        )
        SharedFunctions.BreadCrumbs.generate("Users", myMap);
    }
    @scripts ={
            <script type="text/javascript">


            $('#users_table').dataTable({

            "bProcessing": true,
            "bServerSide": false,
            aaSorting : [[1, 'asc']],
            "bJQueryUI": true,
            "iDisplayStart ": 3,
            "oLanguage": {
                "sProcessing": "Please wait"
            },
            "fnInitComplete": function() {


            },

            "aoColumnDefs": [

            {
                "aTargets": [0],
                "bSearchable" : false,
                "bVisible" : false
            }
            ]
        });

    </script>
    }
@main("Admins",breadCrumb,scripts){


        <a href="@controllers.routes.UserController.create()" class="btn btn-primary" ><i class="fa fa-plus-square"></i> Add New</a>

    <table id="users_table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th><i class="fa fa-pencil-square-o "></i> </th>
                <th>Email</th>
                <th>Role</th>
                <th>Suspended</th>
                



            </tr>
        </thead>

        <tbody>

        @for(user <- users ){
            <tr>
                <td>@user.id</td>
                <td><a class ="" href="@routes.UserController.edit(user.id)" title="Edit"><i class="fa fa-pencil-square-o"></i></a></td>
                <td>@user.username</td>
                <td>@user.role.name</td>
                <td>@if(user.isEnabled){
                    No
                }else{
                    Yes
                }</td>


                @*<td>*@
                    @*<span class="actions">*@


                        @*<a class ="" href="@routes.DepartmentController.edit(Department.id)" title="Edit">*@
                            @*<i class="fa fa-pencil-square-o"></i></a>*@

                    @*</span>*@
                @*</td>*@

            </tr>
        }
</tbody>

</table>




}
