@(facultyForm:Form[models.Faculty], lecturerList:List[models.Lecturer])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap  = scala.collection.immutable.Map(
            "Setup"->routes.SetupController.index().toString(),
            "Faculties"->controllers.admin.routes.FacultyController.index().toString()

        )
        SharedFunctions.BreadCrumbs.generate("Edit Faculty",myMap);
    }

@script={
@if(facultyForm.hasGlobalErrors){
    <script type="text/javascript">
    $(document).ready(function(){
    bootbox.alert('@facultyForm.globalError.message');
    }
    );

    </script>

}
}
@main("Edit Faculty",breadCrumb,script){




    @helper.form(controllers.admin.routes.FacultyController.update(), 'class -> "form-horizontal"){


        @inputText(
            facultyForm("id"),
            '_label -> "id",
            'placeholder -> "id",
            'hideIt->true,
            'class -> "form-control form-control-square",
            'type->"hidden"

        )

        @inputText(
            facultyForm("name"),
            '_label -> "Name",
            'placeholder -> "Name",
            'class -> "form-control form-control-square",
            'required -> ""

        )

        @inputText(
            facultyForm("code"),
            '_label -> "Code",
            'placeholder -> "Code",
            'class -> "form-control form-control-square"

        )

        @select(
            facultyForm("dean.id"),
            options = lecturerList.map(s=>s.id.toString->(s.user.bioData.firstName+" "+s.user.bioData.lastName+" - "+s.user.username)),
            '_label -> "Dean",
            'placeholder -> "Dean",
            'class -> "form-control form-control-square"
        )

        <br/><br/>
        <input type="submit" value="Save" class="btn btn-primary btn-flat"/>


    }



    


}