@(faculties:List[models.Faculty])

@import helper._
@import play.i18n._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{
        val myMap = scala.collection.immutable.Map(
           "Setup" -> routes.SetupController.index().toString()
        )
        SharedFunctions.BreadCrumbs.generate("Faculties", myMap);
    }
    @scripts ={
            <script type="text/javascript">


            $('#faculties_table').dataTable({

            "bProcessing": true,
            "bServerSide": false,
            aaSorting : [[1, 'asc']],
            "bJQueryUI": true,
            "iDisplayStart ": 3,
            "oLanguage": {
                "sProcessing": "Please wait"
            },
            "fnInitComplete": function() {


            },

            "aoColumnDefs": [

            {
                "aTargets": [0],
                "bSearchable" : false,
                "bVisible" : false
            }
            ]
        });

    </script>
    }
@main("Faculties",breadCrumb,scripts){


        <a href="@controllers.admin.routes.FacultyController.create()" class="btn btn-primary" ><i class="fa fa-plus-square"></i> Add New</a>

    <table id="faculties_table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th><i class="fa fa-pencil-square-o "></i> </th>
                <th>Code</th>
                <th>Name</th>
                <th>Dean</th>
                



            </tr>
        </thead>

        <tbody>

        @for(faculty <- faculties ){
            <tr>
                <td>@faculty.id</td>
                <td><a class ="" href="@controllers.admin.routes.FacultyController.edit(faculty.id)" title="Edit"><i class="fa fa-pencil-square-o"></i></a></td>
                <td>@faculty.code</td>
                <td>@faculty.name</td>
                <td>
                    @if(faculty.dean !=null){
                        @faculty.dean.user.bioData.firstName @faculty.dean.user.bioData.lastName
                    }
                </td>


                @*<td>*@
                    @*<span class="actions">*@


                        @*<a class ="" href="@routes.DepartmentController.edit(Department.id)" title="Edit">*@
                            @*<i class="fa fa-pencil-square-o"></i></a>*@

                    @*</span>*@
                @*</td>*@

            </tr>
        }
</tbody>

</table>




}
