@breadCrumb = @{
    val myMap = scala.collection.immutable.Map(
        "Setup" -> routes.SetupController.index().toString()
    )
    SharedFunctions.BreadCrumbs.generate("Setup", null);
}
@scripts ={
    <script type="text/javascript">



    </script>
}
@main("Setup",breadCrumb,scripts){

    <div class="row">
        <div class="col-lg-12 col-md-12">




            <div class="col-lg-2 col-md-2 settingTile">
                <a href="" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-cc-mastercard fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Payments
                    </div>
                </a>


            </div>

            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@routes.StudentController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-graduation-cap fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Students
                    </div>
                </a>


            </div>

            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@controllers.admin.routes.LecturerController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-bookmark-o fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Lecturers
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@routes.CourseController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-book fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Courses
                    </div>
                </a>
            </div>

            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@controllers.admin.routes.FacultyController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-university fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Faculties
                    </div>
                </a>


            </div>

            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@controllers.admin.routes.DepartmentController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-building-o fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Departments
                    </div>
                </a>


            </div>

            <div class="col-lg-2 col-md-2 settingTile">
                <a href="@routes.ReportController.index" class="no-decoration">

                    <div class="inner  bg-primary-dark">
                        <em class="fa fa-3x fa-pie-chart fa-stack-3x fa-inverse text-white"></em>
                        <br>
                        Reports
                    </div>
                </a>


            </div>








        </div>
    </div>

}