@(uri:String)

@breadCrumb = @{

    SharedFunctions.BreadCrumbs.generate(("Not Found"),null);
}

@main(("Not Found"),breadCrumb) {

    <div class="row">
        <div class="container">
            <div class="col-md-8">
                <p class="">
                    <strong>
                    The requested URL <em>@uri</em> was not found
                    </strong>
                </p>
                <img src='@routes.Assets.at("assets/images/404.png")' title="Page Not Found"/>
            </div>


        </div>
    </div>


}