@(askForm: Form[controllers.ResetController.AskForm])

@import helper._
    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }


@main() {

    <div class="col col-lg-8">

        @wflash()

        @form(routes.ResetController.runAsk(), 'class -> "form-horizontal") {

            @inputText(
                askForm("email"),
                '_label -> "Email",
                'class -> "form-control"
            )

            <br>
            <input type="submit" class="btn btn-primary" value="Reset">

            <a href="@routes.Application.viewSite" class="btn btn-default">@Messages("goback")</a>

        }

    </div>


}