@(contactForm:Form[models.Forms.ContactForm])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @script={
    @if(contactForm.hasGlobalErrors){
        <script type="text/javascript">
        $(document).ready(function(){

        bootbox.alert('@contactForm.globalError.message');
        }

        );

        </script>

    }
    }
@main("Contact Us","",script) {
    <div class="row">
        <div class="col-md-5">
        @helper.form(routes.ContactController.save, 'class -> "form-horizontal") {

            @inputText(
                contactForm("fullName"),
                '_label -> "Full Name",
                'placeholder -> "Full Name",
                'class -> "form-control form-control-square"
            )

            @inputText(
                contactForm("email"),
                '_label -> "Email",
                'placeholder -> "Email",
                'class -> "form-control form-control-square",
                'type -> "email"

            )

            @textarea(
                contactForm("message"),
                '_label -> "Message",
                'placeholder -> "Message",
                'class -> "form-control form-control-square"
            )

            <br/>

            <input type="submit" class="btn btn-primary" value="Contact Us" />

            <br/>
        }

        </div>
    </div>

}