@(loginForm:Form[models.Forms.LoginForm])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @script={
    @if(loginForm.hasGlobalErrors){
        <script type="text/javascript">
        $(document).ready(function(){

        bootbox.alert('@loginForm.globalError.message');
        }

        );

        </script>

    }
    }
    @main("Login","",script){
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            @helper.form(routes.Application.login(), 'class -> "form-horizontal") {

                @inputText(
                    loginForm("username"),
                    '_label -> "Email",
                    'placeholder -> "Email",
                    'class -> "form-control form-control-square",
                    'type -> "email"

                )

                @inputText(
                    loginForm("password"),
                    '_label -> "Password",
                    'placeholder -> "Password",
                    'class -> "form-control form-control-square",
                    'type -> "password"

                )

                <br/>
                <br/>

                <input type="submit" class="btn btn-primary" value="Login"/>
            }



        </div>
        <div class="col-md-4"></div>
    </div>
}