@(currentPage: Integer, pageCount: Integer, blockPageSize: Integer)

<nav class="text-center" >
    <ul class="pagination">

        @if(currentPage == 1) {
            <li class="disabled"><span>&laquo;</span></li>
        } else {
            <li><a href="@controllers.routes.CourseController.page(currentPage - 1)">&laquo;</a></li>
        }

        @for(index <- SharedFunctions.TemplateHelpers.createRange(currentPage, blockPageSize, pageCount)) {
            @if(currentPage == index) {
                <li class="disabled"><span>@index</span></li>
            } else {
                <li><a href="@routes.CourseController.page(index)">@index</a></li>
            }
        }

        @if(currentPage == (pageCount-1)) {
            <li class="disabled"><span>&raquo;</span></li>
        } else {
            <li><a href="@routes.CourseController.page(currentPage + 1)">&raquo;</a></li>
        }

    </ul>

</nav>