@import helper._

@main("Password") {

    <p>
        Kindly click on submit to receive instructions by mail.
    </p>

    @form(routes.PasswordController.runPassword, 'class -> "form-horizontal") {
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Reset">
        </div>
    }

}