@(regForm: Form[models.Forms.Registration])

@import helper._

    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @breadCrumb = @{

        SharedFunctions.BreadCrumbs.generate("Register",null);
    }

@main("Signup"){

@helper.form(routes.RegistrationController.save(), 'class -> "form-horizontal") {




    @inputText(
        regForm("firstName"),
        '_label -> "First Name",
        'class -> "form-control form-control-square"

    )

    @inputText(
        regForm("middleName"),
        '_label -> "Middle Name",
        'class -> "form-control form-control-square"
    )

    @inputText(
        regForm("lastName"),
        '_label -> "Last Name",
        'class -> "form-control form-control-square"
    )

    @inputPassword(
    regForm("password"),
        '_label -> "Password",
        'class -> "form-control form-control-square"
    )

    @inputText(
        regForm("email"),
        '_label -> "Email",
        'class -> "form-control form-control-square",
        'type->"email"
    )

    <br/>
    <input type="submit" class="btn btn-primary" value="Register"/>
}

    @if(regForm.hasGlobalErrors){
        <script type="text/javascript">
        $(document).ready(
        function(){
        bootbox.alert('@regForm.globalError.message');
        }
        );

        </script>

    }
    }