@(resetForm: Form[controllers.ResetController.ResetForm], token: String)

@import helper._
    @implicitField = @{
        FieldConstructor(bootstrap3Input.render)
    }

    @scripts = {
        <script src="@routes.Assets.at("javascripts/password.js")" type="text/javascript"></script>
    }

@main("Reset Password","", scripts) {


    <div class="col col-lg-8">
        <p>
            New Password
        </p>

        @form(routes.ResetController.runReset(token), 'class -> "form-horizontal") {

            <div class="form-group">
                @inputPassword(
                    resetForm("inputPassword"),
                    'placeholder -> Messages("password"),
                    '_label -> null,
                    'class -> "form-control"
                )
                <h6>@Messages("signup.generate.password")</h6>
                <input type="text" name="passwordGenerated" class="form-control">

            </div>

            <hr>

            <input type="submit" class="btn btn-primary" value="@Messages("validate")">
            <a href="@routes.Application.index" class="btn btn-default">@Messages("goback")</a>

        }
    </div>

}