@main("Reset Password"){

    <p>
        A mail has been sent, please check your mail
    </p>



    @Messages("resetpassword.mailsent")
    <div class="form-actions">
        <a href="@routes.Application.viewSite" class="btn btn-default">@Messages("goback")</a>
    </div>
}