@(currentPage: Integer, pageCount: Integer, blockPageSize: Integer, courseSearchForm :models.Forms.CourseSearchForm)

<nav class="text-center" >
    <ul class="pagination">

        @if(currentPage == 1) {
            <li class="disabled"><span>&laquo;</span></li>
        } else {
            @courseSearchForm.setPage(currentPage - 1)
            <li><a href="@(controllers.routes.CourseController.search().toString+""+courseSearchForm.generateUrlParams())">&laquo;</a></li>
        }

        @for(index <- SharedFunctions.TemplateHelpers.createRange(currentPage, blockPageSize, pageCount)) {
            @if(currentPage == index) {
                <li class="disabled"><span>@index</span></li>
            } else {
                @courseSearchForm.setPage(index)
                <li><a href="@(routes.CourseController.search().toString()+""+courseSearchForm.generateUrlParams())">@index</a></li>
            }
        }

        @if(currentPage == (pageCount-1)) {
            <li class="disabled"><span>&raquo;</span></li>
        } else {
            @courseSearchForm.setPage(currentPage+1)
            <li><a href="@(routes.CourseController.search().toString()+""+courseSearchForm.generateUrlParams())">&raquo;</a></li>
        }

    </ul>

</nav>