@import helper._
@import helper.twitterBootstrap._

@flash.map {
    case (key, value) => {
        <div class="alert alert-@key alert-square" >
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <p class="text-center">@value</p>
        </div>
    }
}