@main("Who We Are") {
    <h4>BACK GROUND</h4>

    <p>Nigeria and the Cherubim and Seraphim Church have made huge progress in the

    improvement of education and expansion of literacy. Much of this progress has been

    credited to private educational and professional training institutions. This underscores

    the place of private educational institutions in impartation of knowledge and skills for

    quality living.</p>

    <p>It need be mentioned, however, that despite the improvement education and literacy

    noted above, increasing social and economic challenges continually threaten

    realisation of  the desired quality life as moral and kingdom values necessary for its

    realisation are daily eroded.</p>

    <p>It is in light of the above that an academy that will educate on and assist every course

    participant in developing capacities to deal with the increasing social and economic

    challenges, and take advantage of the many opportunities that daily present

    themselves is desired. This academy shall be expected to equip course participants

    with requisite knowledge and skills to accomplish Kingdom expectations in assigned

    roles in the family, career, church and the society at large with education a key factor.

    This academy is the DISCIPLES OF CHRIST MINISTRY ACADEMY (DCM Academy)
        </p>

    <h4>INTRODUCTION</h4>

    <p>The DCM Academy is conceived as a vehicle for the transformation and personal

    development of the person using Christian values as building blocks.</p>

    <p>The Academy shall ensure high standards in preparing the participant to be an

    Ambassador of Christ at all times. The Academy shall constantly review its texts and

    curriculum to relevance and adequacy. The Bible shall be integrated into the

    curriculum while secular texts shall be employed to incorporate classical educational

    material to ensure dynamism in teaching methods and language for effectiveness.</p>

    <p>The Academy courses and programmes are designed to raise and develop participants

    with Biblical tools and techniques under the guidance of Holy Spirit by equipping

    them for effective leadership both in the church environment and society at large.</p>

    <h4>VISION</h4>

    TO LIVE, WORK AND HAVE OUR BEING IN GOD (ACT 17:28)

    <h4>MISSION</h4>

    TO ADD VALUE TO THE PERSON, FAMILY AND SOCIETY FOR

    REALISATION OF THE DIVINE PURPOSE OF CREATION USING KINGDOM

    RESOURCES FOR WISDOM, KNOWLEDGE AND UNDERSTANDING

    <h4>VALUES</h4>

    <ul>
        <li>Excellence</li>
        <li>Openness</li>
        <li>Innovation</li>
        <li>Unity of purpose</li>
        <li>Continuous Learning</li>
        <li>Eternal Peace</li>
    </ul>



}